a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 0 !important;
}

.mdc-list-item:focus::before {
    opacity: 0 !important;
}

.active-list-item {
    background-color: rgba(40, 143, 86, 0.3);
    color: white;
    font-weight: bold;
}

mat-nav-list {
    min-width: 200px;
}