<mat-nav-list>
  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Főoldal</span>
  </a>
  <a mat-list-item routerLink="/appointment" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>calendar_month</mat-icon>
    <span matListItemTitle>Időpontfoglalás</span>
  </a>
  @if (isLoggedIn) {

    <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle>Profilom</span>
    </a>
  }
  @if (isLoggedIn) {
    <a mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Kijelentkezés</span>
    </a>
  }
  @if (!isLoggedIn) {
    <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Bejelentkezés</span>
    </a>
  }


</mat-nav-list>