<div class="profile-container">
  <mat-card *ngIf="loggedInUser">
    <mat-card-header>
      <mat-card-title>Üdvözöllek, {{ loggedInUser.name }}!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="profile-info">
        <div class="avatar-container">
          <div class="avatar mat-elevation-z2">
            {{ loggedInUser.name.charAt(0) }}
          </div>
        </div>
        <div class="user-details">
          <h3 class="user-name">{{ loggedInUser.name }}</h3>
          <div class="user-email">
            <mat-icon>email</mat-icon>
            <span>{{ loggedInUser.email }}</span>
          </div>
          <div class="user-phone">
            <mat-icon>phone</mat-icon>
            <span>{{ loggedInUser.phone }}</span>
          </div>
          <div class="user-role">
            <mat-icon>person</mat-icon>
            <span>{{ loggedInUser.role }}</span>
          </div>
        </div>
      </div>

      <div class="stats-section" *ngIf="loggedInUser.tasks">
        <h2>Task Statistics</h2>

        <div class="stats-cards">
          <mat-card class="stat-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>assignment</mat-icon>
              <mat-card-title>{{ loggedInUser.tasks.total }}</mat-card-title>
              <mat-card-subtitle>Total Tasks</mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>done_all</mat-icon>
              <mat-card-title>{{ loggedInUser.tasks.completed }}</mat-card-title>
              <mat-card-subtitle>Completed</mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>pending</mat-icon>
              <mat-card-title>{{ loggedInUser.tasks.pending }}</mat-card-title>
              <mat-card-subtitle>Pending</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <div class="appointments-section">
        <h2>Időpontok</h2>
        <mat-card *ngFor="let appointment of getUserAppointments()" class="appointment-card">
          <mat-card-header>
            <mat-card-title>{{ appointment.date }}</mat-card-title>
            <mat-card-subtitle>{{ appointment.status }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Eszköz: {{ appointment.brand }} - {{ appointment.model }}</p>
            <p>Szerviz: {{ appointment.name }} - {{ appointment.price | priceFormat }} - {{ appointment.duration | timeFormat}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>